In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

In [36]:
data = pd.read_csv("/content/marketing_campaign.csv", delimiter="\t")
data.dropna(inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   object
 3   Marital_Status       2216 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

In [37]:
data["Expenditure"] = data["MntWines"]+data["MntFruits"]+data["MntMeatProducts"]+data["MntFishProducts"]+data["MntSweetProducts"]+data["MntGoldProds"]
data.head()

     ID  Year_Birth   Education  ... Z_Revenue  Response  Expenditure
0  5524        1957  Graduation  ...        11         1         1617
1  2174        1954  Graduation  ...        11         0           27
2  4141        1965  Graduation  ...        11         0          776
3  6182        1984  Graduation  ...        11         0           53
4  5324        1981         PhD  ...        11         0          422

[5 rows x 30 columns]

In [38]:
dic = {'Single' : 0, 'Together': 1, 'Married': 1, 'Divorced': 0, 'Widow': 0, 'Alone': 0,'Absurd': 0, 'YOLO': 0, 'Graduation': 1, 'PhD': 2, 'Master': 2, 'Basic': 0, '2n Cycle': 2}
data=data.replace({'Marital_Status': dic, 'Education': dic})

In [39]:
data["year_joined"] = data["Dt_Customer"].str[6:]
data["year_joined"] = data["year_joined"].astype(int)

In [40]:
data['curr_year'] = 2021
data['age'] = data['curr_year']-data['Year_Birth']

In [41]:
data['kid_teen'] = data['Kidhome'] + data['Teenhome']
data['kid_teen']= np.where(data['kid_teen'] > 0, 1, 0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 0 to 2239
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2216 non-null   int64
 1   Year_Birth           2216 non-null   int64
 2   Education            2216 non-null   int64
 3   Marital_Status       2216 non-null   int64
 4   Income               2216 non-null   float64
 5   Kidhome              2216 non-null   int64
 6   Teenhome             2216 non-null   int64
 7   Dt_Customer          2216 non-null   object
 8   Recency              2216 non-null   int64
 9   MntWines             2216 non-null   int64
 10  MntFruits            2216 non-null   int64
 11  MntMeatProducts      2216 non-null   int64
 12  MntFishProducts      2216 non-null   int64
 13  MntSweetProducts     2216 non-null   int64
 14  MntGoldProds         2216 non-null   int64
 15  NumDealsPurchases    2216 non-null   int64
 16  NumWebPurchases      2216 non-null   int64
 17  NumCatalogPurchases  2216 non-null   int64
 18  NumStorePurchases    2216 non-null   int64
 19  NumWebVisitsMonth    2216 non-null   int64
 20  AcceptedCmp3         2216 non-null   int64
 21  AcceptedCmp4         2216 non-null   int64
 22  AcceptedCmp5         2216 non-null   int64
 23  AcceptedCmp1         2216 non-null   int64
 24  AcceptedCmp2         2216 non-null   int64
 25  Complain             2216 non-null   int64
 26  Z_CostContact        2216 non-null   int64
 27  Z_Revenue            2216 non-null   int64
 28  Response             2216 non-null   int64
 29  Expenditure          2216 non-null   int64
 30  year_joined          2216 non-null   int64
 31  curr_year            2216 non-null   int64
 32  age                  2216 non-null   int64
 33  kid_teen             2216 non-null   int64
dtypes: float64(1), int64(32), object(1)
memory usage: 605.9+ KB

In [42]:
data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'Expenditure', 'year_joined', 'curr_year', 'age', 'kid_teen'],
      dtype='object')

In [31]:
#data.loc[:,'AcceptedCmp3':'AcceptedCmp2'].describe()
data['AcceptedCmp1' and  'AcceptedCmp2' and 'AcceptedCmp3' and 'AcceptedCmp4' and 'AcceptedCmp5'].max()

1

In [43]:
X = data[['Education', 'Marital_Status', 'Income', 'kid_teen',
       'Recency','Expenditure', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 
       'Complain', 'age', 'year_joined']]

In [13]:
# sample = data.copy()
# sample['AcceptedCmp2']=np.where(sample['AcceptedCmp2']==1,2,0)
# sample['AcceptedCmp2'].sum()
# #sample[sample['AcceptedCmp2']]['AcceptedCmp2']=2

60

In [14]:
# sample['AcceptedCmp3']=np.where(sample['AcceptedCmp3']==1,3,0)
# sample['AcceptedCmp4']=np.where(sample['AcceptedCmp4']==1,4,0)
# sample['AcceptedCmp5']=np.where(sample['AcceptedCmp5']==1,5,0)
# sample['Response']=np.where(sample['Response']==1,6,0)
# y = sample['AcceptedCmp1']+sample['AcceptedCmp2']+sample['AcceptedCmp3']+sample['AcceptedCmp4']+sample['AcceptedCmp5']+sample['Response']

In [44]:
y[241:250]

     AcceptedCmp1  AcceptedCmp2  ...  AcceptedCmp5  Response
252             1             1  ...             1         1
253             0             0  ...             0         0
254             0             0  ...             0         0
255             0             0  ...             0         0
256             0             0  ...             0         0
257             0             0  ...             0         0
258             0             0  ...             0         0
259             0             0  ...             0         0
260             0             0  ...             0         1

[9 rows x 6 columns]

In [45]:
y =data[['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5','Response']]

In [64]:
X_train = X[:1800][:]
X_test = X[1800:][:]
y_train = y[:1800][:]
y_test = y[1800:][:]

y_test.shape

(416, 6)

In [49]:
from xgboost import XGBClassifier
model_1 = XGBClassifier()

In [50]:
model_1.fit(X_train,y_train['AcceptedCmp1'])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [51]:
model_2 = XGBClassifier()
model_2.fit(X_train,y_train['AcceptedCmp2'])

model_3 = XGBClassifier()
model_3.fit(X_train,y_train['AcceptedCmp3'])

model_4 = XGBClassifier()
model_4.fit(X_train,y_train['AcceptedCmp4'])

model_5 = XGBClassifier()
model_5.fit(X_train,y_train['AcceptedCmp5'])

model_6 = XGBClassifier()
model_6.fit(X_train,y_train['Response'])

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [52]:
models = [model_1,model_2,model_3,model_4,model_5,model_6]

In [58]:
y_test[y_test.columns[0]]

0       0
1       0
2       0
3       0
4       0
       ..
1812    1
1813    1
1814    0
1815    0
1816    0
Name: AcceptedCmp1, Length: 1800, dtype: int64

In [65]:
# preds_1 = models[0].predict(y_test[y_test.columns[0]])
preds_1 = models[0].predict(X_test)

In [66]:
print(len(preds_1),len(y_test[y_test.columns[0]]))

416 416

In [67]:
print(mean_absolute_error(preds_1,y_test[y_test.columns[0]]))

0.06971153846153846

In [69]:
preds_2 = models[1].predict(X_test)
preds_3 = models[2].predict(X_test)
preds_4 = models[3].predict(X_test)
preds_5 = models[4].predict(X_test)
preds_6 = models[5].predict(X_test)

In [70]:
print(mean_absolute_error(preds_1,y_test[y_test.columns[0]]))
print(mean_absolute_error(preds_2,y_test[y_test.columns[1]]))
print(mean_absolute_error(preds_3,y_test[y_test.columns[2]]))
print(mean_absolute_error(preds_4,y_test[y_test.columns[3]]))
print(mean_absolute_error(preds_5,y_test[y_test.columns[4]]))
print(mean_absolute_error(preds_6,y_test[y_test.columns[5]]))

0.06971153846153846
0.016826923076923076
0.09615384615384616
0.08173076923076923
0.057692307692307696
0.1346153846153846

In [77]:
preds =[preds_1,preds_2,preds_3,preds_4,preds_5,preds_6]

In [83]:
preds_1.shape

(416,)